.card {
  position: relative;
  display: flex;
  max-width: 300px;
  min-height: 200px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: rgb(0, 0, 0);
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  border: solid 2px #009ba0;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.card-check {
  transform: rotateX(180deg);
}

.card::after {
  content: attr(data-back);
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0feff;
  border-radius: 10px;
  transform: rotateX(180deg);
  backface-visibility: hidden;
}