h2 {
  text-align: center;
  margin: 20px;
  color: #000000;
}


.subtitle {
  text-align: center;
  margin: 12px 0;
  color: #000000;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.controls button {
  padding: 8px 14px;
  border: none;
  border-radius: 8px;
  background: #009ba0;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.controls button:disabled {
  background: #009ba04b;
  cursor: not-allowed;
}

.controls button:hover:not(:disabled) {
  background: #14bac0;
}